@import url('https://fonts.googleapis.com/css?family=Roboto:400,500|Roboto+Mono:400,500');

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #000;
}
